<footer class="w3-container w3-padding-32 w3-margin-top d-flex justify-content-center align-items-center">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom mr-5">Next &raquo;</button>
  <p><b>HENRIETTA'S BLOG</b> © <%= Time.now.year %></p>
</footer>
